<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="images/logo.png">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  </head>
  <body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#page-top">Footpather</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li class="page-scroll">
              <a href="#intro">Demo</a>
            </li>
            <li class="page-scroll">
              <a href="#tech">Tech</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
      <div class="container text-center">
        <div class="row">
          <div class="col-lg-12">
            <img class="img-responsive" src="images/logo.png" alt="" width="100px">
            <div class="intro-text">
              <span class="name">Footpather</span>
              <h4>Knowledge is power</h4>
              <h4>Crowdsourcing our safety</h4>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- intro-Stack Section -->
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h3 class="intro-title">Footpather</h3>
            <p>Footpather is a hybrid mobile app that uses crowdsourcing to increase awareness regarding
            dangerous incidents nearby, empowering all of us to be more safe.</p>
          </div>
          <div class="col-sm-4 text-center">
            <iframe height="500" src="https://www.youtube.com/embed/S3khWOkekEU"
            frameborder="0" allowfullscreen>
            </iframe>
          </div>
        </div>
      </div>
    </section>

    <!-- intro-crime Section -->
    <section class="success">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <img class="intro-img" src="/images/crime-report.png" alt=""/>
          </div>
          <div class="col-sm-7">
            <h3 class="intro-title">Official police reports of crime incidents near you </h3>
            <p>Footpather visualizes crime information on a live map, including official police reports of
            nearby incidents (with a Google Street photo to help you better recognize a potentially dangerous spot),
            as well as information regarding registered sex offenders (photo, name and address).</p>
          </div>
        </div>
      </div>
    </section>

    <!-- intro-user-report Section -->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <h3 class="intro-title">Nothing beats people working together: Get and report safety alerts in real time to others</h3>
            <p>To provide more complete and accurate safety information, Footpather solicits users to also
            report suspicious individuals, wild animals, or an incident. With a few taps, the information is added to
            the live map to help other users travel safer. Other users can like/upvote your report to indicate
            their agreement with it. Footpather also lists other nearby users that one could seek out when in need of help.
            </p>
          </div>
          <div class="col-sm-5">
            <img class="intro-img" src="/images/user-report.png" alt=""/>
          </div>
        </div>
      </div>
    </section>

    <!-- intro-help Section -->
    <section class="success">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <img class="intro-img" src="/images/help.png" alt=""/>
          </div>
          <div class="col-sm-7">
            <h3 class="intro-title">When in danger </h3>
            <p>Finally, in the worst case scenario, Footpather would provide a simple way for you to dial
            911 and send real-time alert to nearby users.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- intro-Stack Section -->
    <section id="tech">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h3 class="intro-title">Footpather technoloy stack</h3>
            <p> Footpather is built using the MEAN stack and the Ionic framework and uses the Google Maps API,
            the Google Street View Image API, and public crime reports from <a href="www.crimereports.com">crimereports.com</a>.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-sm-6">
              <h3>Members</h3>
              <div class="row">
                <div class="col-sm-6">
                  <p>Xiaoli Jiang <a href="https://www.linkedin.com/in/jiangxiaoli" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></p>
                  <p>Ru (Wendy) Liang <a href="https://www.linkedin.com/in/ruliangdesign/en" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></p>
                </div>
                <div class="col-sm-6">
                  <p>Lan Xu <a href="https://www.linkedin.com/in/lanxu" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></p>
                  <p>Jennifer Wu <a href="https://www.linkedin.com/in/jennjwu" class="btn-social btn-outline" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a></p>
                </div>
              </div>
            </div>
            <div class="footer-col col-sm-6">
              <h3>About Footpather</h3>
              <p>Footpather is a hybrid mobile app to empower women's saftey. We got in finalist in Developher 2015.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; Footpather 2014
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
      <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

  </body>

</html>
